*{
    margin: 0%;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
header{
    height: 100vh;
    background-color: rgb(236, 176, 127);
}
nav {
    height: 10%;
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav a {
    color: cornsilk;
    font-weight: bold;
}
h1{
    text-align: center;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cornsilk;
}
.imagenFrase{
    position: relative;
    height: 80%;
}
.imagenHeader{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fraseHeader{
    text-align: center;
    height: 10vh;
    left: 50%;
    bottom: 50%;
    width: 100%;
    font-size: 2vw;
    color:rgb(102, 90, 90);
    font-weight: bold;
}
h2 {
    color: coral;
    text-align: center;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quienes_somos {
    display: flexbox;
    
}
.main1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.pProfesionales {
    font-size: 100%;
    margin-left: 5%;
}
.profesionales {
    top: 50%;
    
    
}
footer {
    
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 25px;
    width: 100%;
    background-color: rgb(236, 176, 127);
}
.imagenProfesional {
    border-radius: 4%;
    height: 60vh;
    width: 30vw;
    left: auto;
    margin-left: 15%;
}
.gridd {
    display: grid;
    grid-template-columns: 25vh 25vh
}
.dates {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    }
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
.imagencalendario {
    border-radius: 4%;
    height: 50%;
    width: 50%;
}
.backgroundcontactanos {
    font-weight: bold;
    background-color: rgb(60, 95, 172);

}
.main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}
.divreiki{
    top: 5%;
    height: 10%;
    align-items: center;
}
.imagenreiki {
    border-radius: 4%;
    width: 40vw;
    height: 20%;
    object-fit: cover;
    margin-left: 30%;
}
.quees{
    margin-top: 2%;
}

@media screen and (max-width: 576px) {
    .imagenProfesional {
        width: 20vw;
        height: 40vh;
        margin-left: 15%;
    }
    .pProfesionales{
        font-size: 70%;
        margin-left: 5%;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .fraseHeader {
        font-size: 3vw;
    }
}
@media screen and (max-width: 768px) {
    .imagenProfesional {
        width: 25vw;
        height: 50vh;
        margin-left: 15%;
    }
    .pProfesionales{
        font-size: 70%;
        margin-left: 5%;
    }
    .fraseHeader {
        font-size: 3vw;
    }
}